In [6]:
X=5  
y=6
print(x==y) #(T or F)  PEP8

False

In [11]:
print(type(x)) #int

<class 'int'>

In [12]:
 
y='Rohan' #strint "strint" or 'strint'
print(y,' ___ ',type(y))
type(y)

Rohan  ___  <class 'str'>

str

In [27]:
x="100"
x_int=int(x) #casting : data type change 
x_float=float(x)
print(x)
print(type(x))
print(x_int)
print(type(x_int))
print(x_float)
print(type(x_float))

100
<class 'str'>
100
<class 'int'>
100.0
<class 'float'>

In [29]:
A=True # bool : only 2 
type(A)

bool

In [30]:
x = 1j

#display x:
print(x)

#display the data type of x:
print(type(x))

1j
<class 'complex'>

In [33]:
a=5j
print(a)
print(type(x))

5j
<class 'complex'>

In [35]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

x, y, z= z,y,x
print("______")
print(x)
print(y)
print(z)

Orange
Banana
Cherry
______
Cherry
Banana
Orange

In [36]:
a,b,c,d=10,"rohan",1.0,5j

In [41]:
a=None #null 

print(a)
print(type(a))
a='' # str
print(a)
print(type(a))

None
<class 'NoneType'>

<class 'str'>


# Sequence Types:	list(Arrays in other langes) tuple, range

In [45]:
a=range(1,5,2)
print(type(a))

<class 'range'>

In [53]:
a=range(3) # start from 0 to till n-1 n=100 contain: only number 
print(a)

range(0, 3)

In [54]:
for i in a:
    print(i)

0
1
2

In [56]:
a=range(1,5) # : input:range (start,end)  output: start till end-1
print(type(a))
for i in a:
    print(i)

<class 'range'>
1
2
3
4

In [59]:
a=range(1,10,2) # : input:range (start,end,interval)  output: start till end-1
print(type(a))
for i in a:
    print(i)

<class 'range'>
1
3
5
7
9

In [63]:
a=range(10,1,-2) # : input:range (start,end,interval)  output: start till end-1
print(type(a))
for i in a:
    print(i)

<class 'range'>
10
8
6
4
2

# list

In [70]:
l=["q","4h",4,4.0] # [--,--,---] list count start from 0, len(l)-1, end rev_count start with -1
print(type(l))

<class 'list'>

In [84]:
l2= ["a","b","c","d","e","c","b","a"] #even
len(l2)
var=-1

In [85]:
var=-1
for i in range(int(len(l2)/2)):
    if l2[i]==l2[var]:
        print("True")
    else:
        print("Fail")
    var+=-1

True
True
True
Fail

In [80]:
int(len(l2)/2)

3

In [ ]:
#list all methods in python

Lists in Python are a versatile and commonly used data structure. Here are some of the most commonly used methods for lists in Python:

1. **append(x):** Adds an item (x) to the end of the list.

   ```python
   my_list = [1, 2, 3]
   my_list.append(4)
   ```

2. **extend(iterable):** Appends elements from an iterable to the end of the list.

   ```python
   my_list = [1, 2, 3]
   my_list.extend([4, 5, 6])
   ```

3. **insert(i, x):** Inserts an item (x) at a specified position (i).

   ```python
   my_list = [1, 2, 3]
   my_list.insert(1, 4)
   ```

4. **remove(x):** Removes the first occurrence of item (x).

   ```python
   my_list = [1, 2, 3, 2]
   my_list.remove(2)
   ```

5. **pop([i]):** Removes and returns the item at the specified position (i). If no index is provided, it removes and returns the last item.

   ```python
   my_list = [1, 2, 3]
   popped_item = my_list.pop(1)
   ```

6. **index(x[, start[, end]]):** Returns the index of the first occurrence of item (x) in the list. You can specify optional start and end positions to search within a range.

   ```python
   my_list = [1, 2, 3, 2]
   index = my_list.index(2)
   ```

7. **count(x):** Returns the number of times item (x) appears in the list.

   ```python
   my_list = [1, 2, 3, 2]
   count = my_list.count(2)
   ```

8. **sort(key=None, reverse=False):** Sorts the list in ascending order by default. You can provide a custom key function and set reverse to `True` for descending order.

   ```python
   my_list = [3, 1, 2]
   my_list.sort()
   ```

9. **reverse():** Reverses the order of elements in the list.

   ```python
   my_list = [1, 2, 3]
   my_list.reverse()
   ```

10. **clear():** Removes all items from the list.

   ```python
   my_list = [1, 2, 3]
   my_list.clear()
   ```

11. **copy():** Returns a shallow copy of the list.

   ```python
   my_list = [1, 2, 3]
   new_list = my_list.copy()
   ```

12. **len(list):** Returns the number of items in the list.

   ```python
   my_list = [1, 2, 3]
   length = len(my_list)
   ```

These are some of the most frequently used methods for lists in Python. Lists are versatile and widely used for storing collections of items, and these methods allow you to manipulate and work with them effectively.

In [86]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [88]:
my_list = [1, 2, 3]
my_list.append([4, 5, 6])
print(my_list)

[1, 2, 3, [4, 5, 6]]

In [87]:
my_list = [1, 2, 3]
my_list.extend([4, 5, 6])
print(my_list)

[1, 2, 3, 4, 5, 6]

In [89]:
my_list = [1, 2, 3]
my_list.insert(1, 4) #insert(index,value)
print(my_list)

[1, 4, 2, 3]

In [96]:
listrw=["sgfggf","gefugweiufg","a","b","rohan","Shashvindu"]
a=listrw.index("rohan")-2 #out of lenth add at end 
a
listrw.insert(a, "indu")
listrw

['sgfggf', 'gefugweiufg', 'indu', 'a', 'b', 'rohan', 'Shashvindu']

In [113]:
my_list = [1, 2, 3, 2] #1st find value will remove
my_list.remove(2)
my_list

[1, 3, 2]

In [98]:
my_list = [1, 2, 3, 2] #1st find value will 
my_list.index(2)
# my_list
#Q1. how to find index and remove 2ed 2 from list

1

In [102]:
my_list = [1, 2, 3, 4, 6, 5, 2]

# Find the index of the first occurrence of 2
first_occurrence_index = my_list.index(2)

# Find the index of the second occurrence of 2 starting from the position after the first occurrence
second_occurrence_index = my_list.index(2, first_occurrence_index + 1)
print(second_occurrence_index)
# Remove the element at the second occurrence index
my_list.pop(second_occurrence_index)

# Now, my_list will have the second occurrence of 2 removed
print(my_list)

6
[1, 2, 3, 4, 6, 5]

In [110]:
my_list = [1, 2, 3, 4, 6, 5, 2,6]
my_list.index(6,4+1)

4

In [117]:
my_list = [1, 2, 3]
popped_item = my_list.pop(1)
print(popped_item)
print(my_list)

2
[1, 3]

In [118]:
my_list = [1, 2, 3]
popped_item = my_list.pop()# last value will remove 1st
print(popped_item)
print(my_list)

3
[1, 2]

In [120]:
my_list = [1, 2, 3, 4, 6, 5, 2,6]
popped_item = my_list.pop()
print(popped_item)
print(my_list)

6
[1, 2, 3, 4, 6, 5, 2]

In [ ]:
#copy

In [121]:
my_list = [1, 2, 3]
my_list2=my_list # save location [1,2,2]
print(my_list2)
#new_list = my_list.copy()

[1, 2, 3]

In [122]:
my_list.append(4)
print(my_list2)

[1, 2, 3, 4]

In [123]:
my_list2.append(5)
print(my_list)

[1, 2, 3, 4, 5]

In [124]:
new_list = my_list.copy() # copy a list at diffrent location

In [125]:
new_list.append(6)

In [127]:
print(my_list)
print(new_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

In [128]:
import os

NameError: name 'get' is not defined